# Dependencies
node_modules
.pnpm-debug.log*
.pnp
.pnp.js

# Turbo
.turbo

# Env
.env
.env.local
.env.*.local
apps/frontend/.env.dev
apps/frontend/.env.prod
apps/strapi/.env.dev
apps/strapi/.env.prod

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
logs/pm2

# Expo / frontend web export
apps/frontend/.expo
apps/frontend/dist

# Strapi
apps/strapi/.tmp
apps/strapi/build
apps/strapi/dist
apps/strapi/.cache
apps/strapi/exports

# IDE
.idea
.vscode/*
!.vscode/extensions.json
